
.faqs-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    max-width: 1250px;
    width: 100%;
}

.faqs-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.faqs-title-container {
    align-items: center;
    background-color: azure;
    display: flex;
    height: 100px;
    justify-content: center;
}

.faqs-wrapper {
    display: flex;
    justify-content: center;
}