
.block {
    background-color: rgb(47, 42, 52);
    height: 300px;
    margin-bottom: 10px;
    width: 300px;
}

.patientforms-content-container {
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    margin: 80px 40px;
    max-width: 900px;
    width: 100%;
}

.patientforms-content-container h2 {
    margin-bottom: 30px;
}

.patientforms-content-container p {
    margin-bottom: 15px;
}

.patientforms-doc-container p {
    text-align: center;
    width: 300px;
}

.patientforms-text-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.patientforms-title-container {
    align-items: center;
    background-color: azure;
    display: flex;
    height: 100px;
    justify-content: center;
}

.patientforms-wrapper {
    display: flex;
    justify-content: center;
}