.button-1 {
  padding: 12px 24px;
  gap: 10px;

  background: #4900c1;
  border-radius: 30px;
  border: transparent;

  margin-bottom: 16px;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-1:hover {
  background-color: #7824ff;
}
