.about-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    max-width: 1250px;
    width: 100%;
}

.about-intro-container {
    margin: 60px 0;
}

.about-intro-picture img{
    width: 500px;
}

.about-intro-text {
    max-width: 500px;
}

.about-intro-text h2 {
    margin-bottom: 20px;
}

.about-intro-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-title-container {
    align-items: center;
    background-color: rgb(37, 37, 37);
    background-image: url(components/images/about.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
    display: flex;
    height: 120px;
    justify-content: center;
}

.about-title-container h1 {
    color: white;
}

.about-wrapper {
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

.drmixa-resume-column {
    width: 300px;
}

.drmixa-resume-wrapper {
    display: flex;
}

.meet-practicioners {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
}

.meet-practicioners h1 {
    color: white;
    font-size: 28px;
}