.about-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    max-width: 1250px;
    width: 100%;
}

.about-intro-container {
    margin: 80px 0 100px 0;
}

.about-intro-picture {
    width: 50%;
}

.about-intro-picture img{
    width: 100%;
}

.about-intro-text {
    width: 40%;
}

.about-intro-text h2 {
    margin-bottom: 20px;
}

.about-intro-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.about-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#about-title {
    background-image: url(components/images/about.png);
}

.about-wrapper {
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

.about-wrapper-2{
    margin: 0 auto;
    max-width: 950px;
    width: 90%;
}

.meet-practicioners {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
}

.meet-practicioners h1 {
    color: white;
    font-size: 2rem;
}

.practicioner-container {
    background-color: rgb(44, 44, 44);
}

.practicioner-text {
    margin: 0 100px;
    width: 80%;
}

.practicioner-text h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.practicioner-text p {
    font-size: 1.125rem;
}

.practicioner-wrapper {
    color: white;
    display: flex;
    justify-content: center;
    padding: 70px;
}

.resume-column {
    width: 80%;
}

.resume-column h3 {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.resume-column p {
    margin-bottom: 20px;
}

.resume-column-container {
    width: 100%;
}

.resume-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

@media (max-width: 1024px) {

    .about-intro-container {
        margin: 30px 0 60px 0;
    }

    .about-intro-picture {
        padding-bottom: 30px;
        margin: 0 auto;
        width: 70%;
    }

    .about-intro-text {
        width: 100%;
    }

    .practicioner-image {
        text-align: center;
        margin-bottom: 30px;
    }

    .practicioner-image img {
        width: 50%;
    }

    .practicioner-text {
        margin: 0 auto;
        width: 100%;
    }

    .practicioner-wrapper {
        display: block;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .about-intro-picture {
        width: 100%;
    }

    .resume-wrapper {
        flex-wrap: wrap;
    }

    .practicioner-image {
        text-align: left;
        margin-bottom: 30px;
    }

    .practicioner-image img {
        width: 70%;
    }
}