
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
  font-size: 16px;
}

button {
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  padding: 11px 36px;
  transition: background-color 0.3s;
}

#button-1 {
  background-color: rgb(61, 61, 201);
  color: white;
}

#button-1:hover, #button-2:hover {
  background-color: rgb(255, 255, 255);
  border-color: black;
  color: rgb(0, 0, 0);
}

#button-2 {
  background-color: black;
  color: rgb(255, 255, 255);
}

#button-3 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#button-3:hover {
  background-color: rgb(81, 165, 255);
  color: white;
}

h1 {
  font-size: 2.125rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 22px;
}

#logo-title {
  font-size: 1.625rem;
  font-weight: 700;
}

main {
  width: 100%;
}

.menu-icon img {
  display: none;
}

nav {
  align-items: center;
  background-image: linear-gradient( rgb(77, 115, 202), rgb(37, 61, 134));
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(175, 177, 177);
}

.nav-link-extra {
  color: aliceblue;
  padding: 7px 25px;
  text-decoration: none;
}

.navbar-item {
  padding: 15px 23px;
}

.navbar-items {
  display: flex;
  justify-content: end;
  width: 75%;
}

.navbar-items-extra {
  background-color: rgb(13, 42, 73);
  display: none;
  line-height: 28px;
  margin-top: 5px;
  position: absolute;
}

#dropdown {
  position: relative;
}

#dropdown:hover .navbar-items-extra {
  display: flex;
  flex-direction: column;
}

#hover:hover {
  background-color: rgb(89, 125, 165);
}

.navbar-title {
  font-size: 1rem;
  letter-spacing: 0.7px;
}

.navbar-title-image img {
  width: 37px;
  margin-right: 10px;
}

.navbar-title-wrapper {
  align-items: center;
  color: white;
  display: flex;
  text-decoration: none;
  width: 340px;
}

.navbar-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 40px;
  max-width: 1250px;
}

.ourservices-arrow {
  font-size: 0.75rem;
  font-weight: 900;
}

#phone-number {
  color: rgb(0, 131, 202);
  font-weight: 600;
  text-decoration: underline;
}

.seperator1 {
  background-color: rgb(227, 227, 227);
  height: 9px;
  width: 100%;
}

.title-container {
  align-items: center;
  background-color: rgb(37, 37, 37);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
  display: flex;
  height: 130px;
  justify-content: center;
}

.title-container h1 {
  color: white;
}

@media (max-width: 1024px) { 
  /* * {
    font-size: 15px;
  } */
  nav {
    justify-content: start;
  }

  .nav-link {
    color: black;
  }

  .navbar-items{
    display: none;
  }

  /* .navbar-items.active {
    display: flex;
  } */

  .menu-icon img {
    display: block;
    cursor: pointer;
    width: 35px;
  }

  /* .menu-icon img:hover {
    cursor: pointer;
  } */
}