
.conditions-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 40px 25px 40px;
}

.conditions-content-container h2 {
    font-size: 1.5rem;
}

.conditions-list {
    width: 400px;
}

.conditions-list-container {
    display: flex;
    justify-content: center;
    margin: 0 40px 50px 0;
}

.conditions-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#conditions-title {
    background-image: url(components/images/conditions.png);
}

#conditions-title {
    background-image: url(components/images/FAQs.png);
    text-align: center;
}

#conditions-title h1 {
    margin: 0 40px;
}

.conditions-wrappper {
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

@media (max-width: 767px) {

    .conditions-list-container {
        align-items: center;
        flex-direction: column;
    }

}