
.appointment-container {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.appointment-content {
    width: 400px;
}

.appointment-content h2 {
    margin-bottom: 20px;
}

.appointment-content ul {
    margin: 20px 0;
}

.appointment-image img {
    width: 600px;
}

.contact-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    max-width: 1250px;
    width: 100%;
}

.contact-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-wrapper {
    margin: 0 auto;
    max-width: 1150px;;
    width: 90%;
}

.information-block {
    margin-bottom: 25px;
}

.information-block h3 {
    font-size: 20px;
}

.information-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.information-text {
    margin-top: 40px;
}

.line {
    background-color: rgb(0, 0, 0);
    border: transparent;
    height: 3px;
    width: 400px;
}