
.address-content a {
    color: white;
}

.column-1, .column-2, .column-3 {
    width: 300px;
}

.column-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-2-contact, .column-2-address {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.column-2-address p {
    line-height: 20px;
}

.column-2-contact {
    margin-bottom: 30px;
}

.column-2-contact p {
    line-height: 33px;
}

.column-2, .column-3 {
    margin-top: 20px;
}

.copyright {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45px;
}

.copyright p {
    font-size: 0.875rem;
}

.days-times {
    display: flex;
}

.days-times p {
    line-height: 30px;
}

.days, .times {
    width: 120px;
}

.footer {
    background-image: linear-gradient(rgb(68, 100, 180), rgb(17, 41, 113));
    color: rgb(255, 255, 255);
}

.footer-button button {
    border-color: transparent;
    border-style: solid;
    border-radius: 35px;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.footer-button button:hover {
    background-color: blue;
}

.footer-content {
    color: white;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 40px 60px 70px 60px;
}

.footer-title {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    margin-bottom: 15px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
}

.footer-wrapper h2 {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.logo img {
    width: 37px;
    margin-right: 10px;
}

.number p {
    font-size: 0.875rem;
    font-style: italic;
}

@media (max-width: 767px) {

    .column-1 {
        width: auto;
    }
    
    .column-2, .column-3 {
        margin-top: 50px;
    }

    .days-times {
        justify-content: center;
    }

    .footer-title {
        justify-content: center;
        margin-bottom: 25px;
    }

    .footer-wrapper {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}