
.carousel-container {
    background-image: url(components/images/introslide1.1.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    height: 550px;
    justify-content: center;
}

.carousel-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.carousel-content h2 {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 5px 0 20px 0;
}

.carousel-content button {
    background-color: rgb(61, 61, 201);
    border-color: transparent;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
}

.home-wrapper{
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

.more-questions {
    margin-top: 30px;
    text-align: center;
}

.more-questions h2 {
    margin-bottom: 15px;
}

.office-building {
    width: 50%;
}

.office-building img {
    width: 100%;
}

.our-practice-container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 0;
}

.our-practice-text {
    width: 45%;
}

.our-practice-text p, .our-practice-text h2{
    margin-bottom: 20px;
}

.our-practice-container, .our-specialties-container, .questions-container {
    align-items: center;
    display: flex;
}

.our-specialties-container {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 60px 0;
}

.our-specialties-image {
    width: 50%;
}

.our-specialties-image img {
    width: 100%;
}

.our-specialties-text h2 {
    margin-bottom: 20px;
}

.our-specialties-text ul {
    line-height: 30px;
    margin-bottom: 20px;
}

.questions {
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
}

.questions button {
    background-color: transparent;
    border: solid;
    border-color: rgb(33, 91, 163);
    border-radius: 10px;
    border-width: 5px;
    font-size: 1.125rem;
    height: 190px;
    padding: 20px;
    margin: 20px;
    width: 220px;
}

.questions button:hover {
    background-color: rgb(194, 220, 236);
}

.questions-container {
    justify-content: center;
    margin: 60px;
}

.questions-container-title {
    margin-bottom: 10px;
    text-align: center;
}

.questions-container-title h1 {
    font-size: 2rem;
}

.questions-wrapper {
    margin: 20px 0 20px 0;
}


/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */

@media (max-width: 1024px) {
    
    .our-practice-text, .our-specialties-text {
        margin-top: 30px;
        width: 95%;
    }

    .our-specialties-image, .office-building {
        width: 75%;
    }

}

@media (max-width: 768px) {

    .questions {
        flex-direction: column;
    }

    .questions button {
        height: 250px;
        width: 300px;
    }
}