
.carousel-container {
    background-color: black;
    display: flex;
    align-items: center;
    height: 550px;
    justify-content: center;
}

.carousel-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.carousel-content h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.carousel-content button {
    background-color: rgb(50, 50, 188);
    border-color: transparent;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    /* padding: 10px 30px; */
}

.carousel-content button:hover {
    background-color: aliceblue;
    color: rgb(14, 14, 72);
}

.home-wrapper{
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

.more-questions {
    margin: 30px 0 40px 0;
    text-align: center;
}

.more-questions h2 {
    margin-bottom: 15px;
}

.more-questions button {
    background-color: rgb(17, 17, 22);
    border-color: transparent;
    border-radius: 20px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 35px;
}

.office-building img {
    width: 500px;
}

.our-practice-container {
    justify-content: space-between;
    margin: 60px 0;
}

.our-practice-text {
    width: 400px;
}

.our-practice-text p, h2 {
    margin-bottom: 20px;
}

.our-practice-container, .our-specialties-container, .questions-container {
    align-items: center;
    display: flex;
}

.our-specialties-container {
    justify-content: space-between;
    margin: 60px 0;
}

.our-specialties-image img {
    width: 500px;
}

.our-specialties-text ul {
    margin-bottom: 20px;
}

.questions {
    align-items: center;
    display: flex;
}

.questions button {
    background-color: transparent;border-color: rgb(33, 33, 117);
    border-radius: 10px;
    border-width: 7px;
    font-size: 18px;
    height: 230px;
    padding: 20px;
    margin: 20px;
    width: 230px;
}

.questions button:hover {
    background-color: rgb(234, 241, 249);
}

.questions-container {
    justify-content: center;
}

.questions-container-title {
    margin: 30px;
    text-align: center;
}

.questions-container-title h1 {
    font-size: 32px;
}

.questions-wrapper {
    margin: 20px 0 30px 0;
}

.seperator {
    background-color: rgb(227, 227, 227);
    height: 7px;
    width: 100%;
}