
.hospital-affiliations-container {
    margin: 60px 0;
}

.hospital-affiliations-content {
    margin-right: 100px;
}

.hospital-affiliations-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hospital-affiliations-images {
    display: grid;
    grid-template-columns: 275px 275px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.hospital-affiliations-images img {
    height: 200px;
    width: 275px;
}

.hospital-affiliations-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emergency-room-container {
    margin: 80px 0;
}

.emergency-room-content {
    text-align: center;
}

.emergency-room-content img {
    margin-bottom: 30px;
    width: 150px;
}

.hospital-affiliations-content p {
    font-size: 20px;
    line-height: 30px;
}

.ourservices-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ourservices-title-container {
    align-items: center;
    background-color: rgb(37, 37, 37);
    background-image: url(components/images/ourservices.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
    display: flex;
    height: 120px;
    justify-content: center;
}

.ourservices-title-container h1 {
    color: white;
}

.ourservices-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourservices-wrapper {
    margin: 0 auto;
    max-width: 1150px;
    width: 90%;
}

.specialties-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
}

.specialties-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 35px;
}

.specialties-list li {
    font-size: 18px;
}

.list-1, .list-2{
    margin: 0 45px;
}

.seperator {
    background-color: rgb(227, 227, 227);
    height: 7px;
    width: 100%;
}

.specialties-title {
    margin-bottom: 30px;
    text-align: center;
}

.specialties-title h2 {
    margin-bottom: 10px;
}

.surgery-questions-container {
    margin: 80px 0;
    text-align: center;
}

.surgery-questions-content img {
    margin-bottom: 30px;
    width: 100px;
}