
.ourservices-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    max-width: 1250px;
    width: 100%;
}

.ourservices-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ourservices-title-container {
    align-items: center;
    background-color: rgb(37, 37, 37);
    background-image: url(components/images/ourservices.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
    display: flex;
    height: 120px;
    justify-content: center;
}

.ourservices-title-container h1 {
    color: white;
}

.ourservices-wrapper {
    display: flex;
    justify-content: center;
}

.specialties-container {
    margin: 50px 40px 70px 40px;
    max-width: 900px;
    width: 100%;
}

.specialties-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 35px;
}

.list-1, .list-2{
    margin: 0 45px;
}

.specialties-title {
    margin-bottom: 30px;
    text-align: center;
}

.specialties-title p {
    font-size: 14px;
    margin-top: 5px;
}