

.patientforms-content-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    max-width: 1250px;
    width: 100%;
}

.patientforms-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.patientforms-title-container {
    align-items: center;
    background-color: azure;
    display: flex;
    height: 80px;
    justify-content: center;
}

.patientforms-wrapper {
    display: flex;
    justify-content: center;
}