
.block img {
    width: 270px;
    margin-bottom: 10px;
}

.block img:hover {
    opacity: 85%;
    cursor: pointer;
}

.patientforms-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 40px;
    max-width: 1100px;
    width: 100%;
}

.patientforms-content-container h2 {
    margin-bottom: 20px;
}

.patientforms-content-container p {
    margin-bottom: 15px;
}

.patientforms-doc-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 90px;
}

.patientforms-doc-container p {
    text-align: center;
    width: 300px;
}

.patientforms-text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 450px;
}

#patientforms-title {
    background-image: url(components/images/patientforms.png);
}

.patientforms-wrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {

    .patientforms-content-container {
        margin: 40px;
    }

    .patientforms-text-container {
        width: 80%;
    }
}

/* @media (max-width: 767px) {

} */